@layer base, components, utilities;

/* @import url('open-props/postcss/normalize') layer(base); */
@import url('./reset.css') layer(base);
@import url('./utils.css') layer(utilities);
@import './theme.css';

@layer base {
  @unocss preflights;
}

@layer components {
  .some-class {
    color: blue;
  }
}

@layer utilities {
  @unocss default;
  @unocss;
}

[data-content-id] {
  h2,
  h3,
  h4 {
    margin-block: 1em;
    font-weight: var(--font-weight-5);
  }

  li {
    margin-left: var(--size-3);
    list-style: disc;
  }
}